#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  gap: 20px;
  margin: 20px auto;
  padding: 10px;
}

.card {
  background: white;
  border-radius: 8px;
  border: rgb(0, 0, 0) 1px solid;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 16px;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: scale-down;
  border-radius: 5px;
}

.card p, h3 {
  color: black;
}

.card button {
  margin-top: 10px;
  background: #e63946;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.card a:hover {
  background: #dcf6ff;
  padding: 8px;
  border-radius:5px;
}